{% extends "base.html" %}

{% block titulo %} Adicionar coisa {% endblock %}

{% block corpo %}

    <div class="container is-fullhd">
        <h2 class="title">Adicionar coisa</h2>

        <form action="{{ url_for('adicionar') }}" method="post" enctype="multipart/form-data">
            {{ attr.hidden_tag() }}
            <div class="grid">
                <div class="cell">
                    
                    <div class="file has-name is-boxed is-large" id="file">
                        <label class="file-label">
                            {{ attr.file(class="file-input") }}
                            <span class="file-cta">
                                <span class="file-label">
                                    Escolha o arquivo
                                </span>
                            </span>
                            <span class="file-name">
                                udemy.csv
                            </span>
                        </label>
                    </div>

                </div>

                <div class="cell">
                    <div class="field">
                        {{ attr.submit(class="button is-primary") }}
                    </div>
                </div>

            </div>

            
        </form>

        {% if graph_price_level %}
            <h2>Preço Médio por Nível</h2>
            <img src="data:image/png;base64,{{ graph_price_level }}" alt="Gráfico de Preço Médio por Nível">
        {% endif %}

        {% if graph_subjects %}
            <h2>Contagem de Cursos por Assunto</h2>
            <img src="data:image/png;base64,{{ graph_subjects }}" alt="Gráfico de Cursos por Assunto">
        {% endif %}

        {% if graph_paid_free %}
            <h2>Proporção de Cursos Pagos e Gratuitos</h2>
            <img src="data:image/png;base64,{{ graph_paid_free }}" alt="Gráfico de Proporção de Cursos Pagos e Gratuitos">
        {% endif %}

        {% if graph_duration_level %}
            <h2>Duração Média dos Cursos por Nível</h2>
            <img src="data:image/png;base64,{{ graph_duration_level }}" alt="Gráfico de Duração Média dos Cursos por Nível">
        {% endif %}

        {% if graph_price_distribution %}
            <h2>Distribuição de Preços dos Cursos Pagos</h2>
            <img src="data:image/png;base64,{{ graph_price_distribution }}" alt="Gráfico de Distribuição de Preços">
        {% endif %}

    </div>

    <script>
        const fileInput = document.querySelector("#file input[type=file]");

        fileInput.onchange = () => {
          if (fileInput.files.length > 0) {
            const fileName = document.querySelector("#file .file-name");
            fileName.textContent = fileInput.files[0].name;
          }
        };
    </script>

{% endblock %}
