<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {%block titulo %}
            Index
        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <nav class="navbar">

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('index') }}" class="navbar-item">
                    Prever
                </a>
                <a href="{{ url_for('adicionar') }}" class="navbar-item">
                    Adicionar csv
                </a>
            </div>
        </div>

    </nav>

    <section class="block section">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="notification is-info">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block corpo %}
        {% endblock %}
    </section>

    <footer class="block footer has-text-centered">
        Feito por André Nadalin, Renan Toshio, Leonardo Herédia e Luiz Simm
    </footer>
</body>
</html>